// custom variables
// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_mixins";
// @import "../node_modules/bootstrap/scss/_variables";

        $primary: #0d6b74;
        $secondary: #32746D;
        $light-danger: #f7616d;
        $light-success: #19a706;
        $light-info: #0f9ad3;
        $headline: #1a1b1b;
        $dark: #011502;
        $body-bg: #121414;
        $body-color: #eeeeee;
     
    
        @import "../node_modules/bootstrap/scss/_functions";
        @import "../node_modules/bootstrap/scss/_mixins";
        @import "../node_modules/bootstrap/scss/_variables";
    
                     
        $custom-theme-colors: (
            "light-danger": $light-danger,
            "light-success": $light-success,
            "light-info": $light-info,
            "light-primary": $primary,
            "headline": $headline,
            "dark": $dark
        );
    
        $theme-colors: map-merge($theme-colors, $custom-theme-colors);
    
        // /* redefine theme color variables */
        // @each $color,
        // $value in $theme-colors {
        //     --#{$variable-prefix}#{$color}: #{$value};
        // }
    
        // /* redefine theme color rgb vars (used for bg- colors) */
        // $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    
        // @each $color,
        // $value in $theme-colors-rgb {
        //     --#{$variable-prefix}#{$color}-rgb: #{$value};
        // }
    
    
        // --#{$variable-prefix}body-color: #{$body-color};
        // --#{$variable-prefix}body-bg: #{$body-bg};
    
        $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
        $utilities-colors: map-merge($theme-colors-rgb,
                ("black": to-rgb($black),
                    "white": to-rgb($white),
                    "body": to-rgb($body-color)));
    
        $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
        $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

        @import "../node_modules/bootstrap/scss/bootstrap";

.light-mode {
    $primary: #2c86ca;
    $secondary: #4daff0;
    $light-danger: #f7616d;
    $light-success: #19a706;
    $light-info: #0f9ad3;
    $light: #c5d4df;
    $headline: #bed4dd;
    $dark: #011502;
    $body-bg: #d0d9dd;
    $body-color: #313536;

    @import "../node_modules/bootstrap/scss/_functions";
    @import "../node_modules/bootstrap/scss/_mixins";
    @import "../node_modules/bootstrap/scss/_variables";

    $custom-theme-colors: (
        "light": $light,
        "light-danger": $light-danger,
        "light-success": $light-success,
        "light-info": $light-info,
        "light-primary": $primary,
        "headline": $headline,
        "dark": $dark);

    $theme-colors: map-merge($theme-colors, $custom-theme-colors);

    /* redefine theme color variables */
    @each $color,
    $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

    @each $color,
    $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    $utilities-colors: map-merge($theme-colors-rgb,
        ("black": to-rgb($black),
            "white": to-rgb($white),
            "body": to-rgb($body-color)));

    $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
    $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

    @import "../node_modules/bootstrap/scss/bootstrap";
}

  @include color-scheme(dark) {
      // Insert dark mode styles here
      $primary: #c6e1e4;
  }

.show {
    display: block;
}

.text-h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.text-h2 {
    font-size: 2rem;
    font-weight: 600;
}

.text-h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

.text-h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.text-h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

.text-h6 {
    font-size: 1rem;
    font-weight: 600;
}

.text-body1 {
    font-size: 1rem;
    font-weight: 600;
}

.text-body2 {
    font-size: .85rem;
    font-weight: 400;
}

.text-caption {
    font-size: .65rem;
    font-weight: 400;
}

p {
    margin: 0!important;
}

